<form {{action 'authenticate' on='submit' }}>
  <fieldset class="uk-fieldset">
    <legend class="uk-legend">Login</legend>
    <div class="uk-margin">
      {{input type='text' placeholder='Username' class='uk-input' value=identification autofocus=true}}
    </div>
    <div class="uk-margin">
      {{input type='password' placeholder='Password' class='uk-input' value=password}}
    </div>
    <button type="submit" class="uk-button uk-button-primary" disabled= {{authenticate.isRunning}}>
      {{#if authenticate.isRunning}} Logging in{{uk-spinner}} {{else}}Login {{/if}}
    </button>
  </fieldset>
</form>